name: Python Tests

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code source
        uses: actions/checkout@v2

      - name: Vérifier l'installation de Python
        run: python --version

      - name: Installer Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Vérifier la nouvelle installation de Python
        run: python --version

      - name: Installer les dépendances
        run: pip install -r requirements.txt

      - name: Exécuter les tests avec pytest
        run: python -m pytest
